* {
 -fx-background-color: #000000;
 -fx-text-fill: #991212;
 -fx-spacing: 10;
 -fx-padding: 5.0, 0.0, 5.0, 0.0;
}


.materialdesignfont {
    -fx-font-family: "Material Design Icons" !important;
    -fx-font-size: 4.5em !important;
}

.awesomefont {
    -fx-font-family: "FontAwesome" !important;
    -fx-font-size: 4.5em !important;
}

.clockfont {
    -fx-font-family: "Digital-7 Mono" !important;
    -fx-font-size: 6em !important;
}

.stdfont {
 -fx-font-family: "Sans-serif";
 -fx-font-size: 1.6em;
}

.glow {
    -fx-effect: dropshadow(three-pass-box, #991212, 10, 0, 0, 0); 
}

/* for debugging layouts */
.debugborder {
	-fx-border-color: blue;
}